body{
    background-color: black;

    color: #ff5752;

}

#buttonWrapper{

    position: absolute;

    height: 100vh;
    width: 100vw;
    color: #ff5752;
    font-family: 'Courier New', Courier, monospace;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

#start-listening{

    color: red;
    transition-duration: 0.5s;
    border-radius: 8px;
    border: none;
    font-size: 40px;

    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 2;
    grid-column-end: 3;
}

#start-listening:hover{
    background-color: red;
    color: black;
}
